@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl font-bold;
  }
  h2 {
    @apply text-2xl font-medium;
  }
  h3 {
    @apply text-xl font-medium;
  }
  h4 {
    @apply text-lg font-medium;
  }
  h5 {
    @apply text-base font-medium;
  }
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: hind_m, simhei, roboto, verdana, Helvetica, sans-serif;
  position: relative;
  width: 380px;
  font-size: 100%;

  background-color: white;
  color: theme("colors.gray.dark");
}
body.dark,
body.dark > * {
  background-color: black;
  border-color: theme("colors.gray.600");
  color: theme("colors.gray.50")
}