@tailwind base;
@tailwind components;
@tailwind utilities;

#cs-comment-tabs-root {
  border-bottom: 1px solid #eaeaea;
  background-color: rgba(255, 255, 255, 0.5);
  box-sizing: content-box;
}

#cs-comment-tabs-wrapper {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin: 0 auto;
  gap: 60px;
}

.cs-comment-tab {
  text-align: center;
}

.cs-comment-tab-span {
  display: block;
  padding: 0 5px;
  color: #bbb;
  font-weight: 500;
  line-height: 70px;
  font-size: 15px;
  cursor: pointer;
}

.cs-comment-tab-span:hover,
.cs-comment-tab-span.current-tab {
  color: #000;
}

.cs-comment-tab-span.current-tab {
  border-bottom: 2px solid black;
}

.cs-comment-tab-content.hidden {
  display: none;
}
